* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1 1 1;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: rgb(96, 155, 155);
    transition: all .5s;
}

.logo {
    display: flex;
}

li a:hover::after {
    width: 100%;
}

hero {
    display: flex;
    justify-content: center;
    gap: 10%;
    height: calc(80vh-40px);
    align-items: center;
    background-color: #1f2937;
    padding: 30px 10px;
    padding-bottom: 5%; 
}

.left-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;

}

.left-main h1 {
    color: #f9faf8;
    font-size: 48px;
}

.left-main p {
    font-size: 18px;
    color: #e5e7eb;
}

.left-main button {
    width: fit-content;
    padding: 10px 30px;
    color: white;
    background-color: #3882f6;
    font-weight: 700;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
}

.images {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.title {
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    margin: 32px;
}

.albums-container {
    display: flex;
    margin: 5%;
    gap: 80px;
    justify-content: center;
    align-items: center;

}

.information {
    max-width: 150px;
}

.para-album {
    background-color: #3882f6;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: -2%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #e5e7eb;
}

.inspiring-quote {
    width: 60%;
    font-size: 36px;
    font: italic;
    font-weight: lighter;
    color: #1f2937;
}

.steve {
    margin-left: 50%;
    font-size: 25px;
}

.action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 5% 15%;
    padding: 50px;
    gap: 20px;
    border-radius: 10px;
}

.action {
    color: #f9faf8;
}

.more-button {
    background-color: #3882f6;
    padding: 7px 30px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;
}

.more-button a {
    text-decoration: none;
    color: white;
}

.Copyright {
    background-color: #1f2937;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 25px;
}