* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: rgb(96, 155, 155);
    transition: all .5s;
}

.logo {
    display: flex;
}

li a:hover::after {
    width: 100%;
}